.App {
  text-align: center;
}
.form {
  display: flex;
  height: 6vw;
  align-items: flex-end;
  background-color: #fbab7e;
}

.header {
  margin: 0 auto;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
